html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
*, :after, :before {
  box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6, .toc {
  font-family: 'Montserrat', sans-serif;
}
html {
  background: #fff url('./images/bg.jpg') no-repeat top center fixed;
  background-size: cover;
  overflow-x: hidden;
}
h1 { font-size: 50px; }
h2 { font-size: 40px; }
h3 { font-size: 28px; position: relative; margin: 35px 0; }
h3::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 4px;
  background: #000;
  display: block;
  left: 0;
  bottom: -10px;
}
h4 { font-size: 22px; color: #35393c; margin: 35px 0 15px; }
h5 { font-size: 18px; color: #7a7b7e; margin: 35px 0 15px; }
ul {
  list-style: none;
  position: relative;
}
ul li::before {
  content: "\2022";
  color: #01bab6;
  font-weight: bold;
  display: inline-block;
  margin-left: -20px;
  font-size: 30px;
  position: absolute;
  line-height: 22px;
}
ul li ul li::before {
  color: #66c096;
}
.content {
  padding: 20px 20px 20px 40px;
  max-width: 1000px;
}
img {
  width: 90%;
}
header {
  background: #66c096;
  margin-bottom: 30px;
  position: relative;
  min-height: 300px;
}
header::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  background-color: #66c096;
  padding-bottom: 10%;
  width: 102%;
  z-index: -10;
  transform-origin: 0 0;
  transform: rotate(-2.2deg) skewX(0deg);
}
header::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-top: 40px solid #66c096;
  border-right: 50px solid transparent;
  position: absolute;
  left: 30px;
  bottom: -30px;
  z-index: 10;
}
header img {
  max-width: 500px;
  /* position: absolute;
  bottom: 20px;
  right: 20px; */
  margin: 20px auto;
  display: block;
  border-radius: 5px;
  box-shadow: 2px 2px 7px #374840;
}
/* header .content {
  max-width: 680px;
} */
@media screen and (max-width: 1280px) {
  header {
    text-align: center;
  }
  /* header .content {
    max-width: 100%;
  } */
  /* header img {
    position: initial;
    margin-bottom: 20px;
  } */
}
footer {
  background: #e2e2e2;
  margin: 30px 20px 50px;
}
.profiles {
  display: flex;
  flex-wrap: wrap;
}
.profile {
  width: 50%;
  margin: 0 auto;
}
.profile img {
  float: right;
  max-width: 170px;
  border-radius: 5px;
}
.profile .card {
  margin: 10px;
  border: 1px solid #a6bdb2;
  border-radius: 3px;
  background: #fff;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(102, 192, 150, .5);
}
.profile .card::after {
  content: ' ';
  display: block;
  clear: both;
}
@media screen and (max-width: 960px) {
  .profile {
    width: 100%;
  }
}
.toc {
  position: fixed;
  top: 20px;
  bottom: 20px;
  right: 0;
  background: rgba(255, 255, 255, .9);
  border-radius: 10px 0 0 10px;
  border: 1px solid #a6bdb2;
  padding: 15px 0;
  width: 320px;
  box-shadow: -1px 2px 4px rgba(102, 192, 150, .5);
}
.toc a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: #111;
  padding: 6px 15px;
}
.toc a.sub {
  font-weight: normal;
  padding: 3px 15px 3px 30px;
  font-size: 90%;
  color: #35393c;
}
.toc a.main {
  border-bottom: 1px solid #a6bdb2;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 16px;
  font-size: 110%;
}
.toc a:hover, .toc a:active, .toc a:focus {
  background: rgba(102, 192, 150, .5);
}
.toc a.main:hover, .toc a.main:active, .toc a.main:focus {
  background: none;
  text-decoration: underline;
}
@media screen and (max-width: 1380px) {
  .toc {
    width: 220px;
  }
}
@media screen and (max-width: 1280px) {
  .toc {
    display: none;
  }
}
